@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'poppins';
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom,#f1f4f9,#dff1ff);
}
section .color{
    position: absolute;
    filter: blur(150px);
}
section .color:nth-child(1){
    width: 600px;
    height: 600px;
    top: -350px;
    background: #ff359b;
}
section .color:nth-child(2){
    width: 500px;
    height: 500px;
    bottom:-150px;
    left: 100px;
    background: #fffd87;
}
section .color:nth-child(3){
    bottom: 50px;
    width: 300px;
    height:300px;
    right: 100px;
    background: #00d2ff;
}
.box{
    position: relative;
}
.box .square{
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow:0 25px 45px rgba(0, 0, 0, 0.1);
    border:1px solid rgba(255, 255, 255, 0.5);
    border-right:1px solid rgba(255, 255, 255, 0.2);
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}
@keyframes animate {
    0%,100%{
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(40px);
    }
}
.box .square:nth-child(1){
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}
.box .square:nth-child(2){
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}
.box .square:nth-child(3){
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}
.box .square:nth-child(4){
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
}
.box .square:nth-child(5){
    left: 140px;
    top: -80px;
    width: 60px;
    height: 60px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f9f9f9;
    overflow: hidden;
}
.music{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
margin-bottom: 20px;
    font-weight: 400;
    font-size: 2em; 
    color: #38a7ff;
    display: inline-flex;
    text-align: center;  
}
.player{
    position: relative;
    width: 500px;
    min-height: 90px;
    background: #f9f9f9;
    border: 2pxx solid #fff;
    border-radius: 80px;
    padding: 20px 30px;
    box-shadow: -10px -10px 15px #fff,10px 10px 15px rgba(0,0,0,0.1), inset -5px -5px 15px #fff, inset 5px 5px 15px rgba(0,0,0,0.1) ;
}
.btns{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.btns span{
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #777;
    cursor: pointer;
    box-shadow:inset 0px 0px 5px rgba(0,0,0,0.1),0px 5px 10px rgba(0,0,0,0.1), 0px 10px 15px rgba(0,0,0,0.1) ;
}
.btns span:active,.btns span.active{
    color: #38a7ff;
    box-shadow: inset 0 -7px 5px rgba(0,0,0,0.025), inset 0 5px 10px rgba(0,0,0,0.15);
}
.btns span.playPause{
    width: 100px;
    height: 100px;
}
.btns span ion-icon{
    font-size: 2em;
}
.btns span.playPause ion-icon{
    font-size: 3em;
}